@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

.container{
    font-family: 'Montserrat', sans-serif;
    background: url("https://i.pinimg.com/originals/6d/df/89/6ddf89a95cc31286387b11c64c1991a8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}
.SearchBox
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1%;
}
.SearchBar
{
    font-family: "Montserrat";
    padding : 1.3rem;
    border-radius: 0.6rem;
    width:20rem;
    outline: none;
    border: none;
}
.SearchBar:focus
{
    outline: none;
}
.SearchButton
{
    font-family: "Montserrat";
    padding : 1.3rem;
    margin-left: 1.4rem;
    background-color:green;
    color: aliceblue;
    border-radius: 0.6rem;
    border: none;
}
.title
{
    margin-top:0.2rem;
    font-size: 4rem;
    color: white;
    text-align: center;
}
.weathercond
{
    font-size: 4rem;
    text-align: center;
}
.datetime
{
    display: flex;
    justify-content: space-between;
}
.temperature
{
    text-align: center;
    margin-top: 1.3rem;
    font-size: 4rem;
    color: aliceblue;
}
.WeatherType
{
    margin-top:1rem;
    font-size: 4rem;
    text-align: center;
    color: aliceblue
}
.box
{
    background-color: #141E61;
    border-radius: 1.3rem;
    height: 42rem;
    width: 40rem;
    margin-top: 1.8rem;
    font-size:2rem;
    padding-top: 4rem;
}
.time
{
    margin-top: 1.8rem;
    margin-right: 1.8rem;
    color: honeydew;
}
.date
{
    margin-top: 1.8rem;
    color: honeydew;
    margin-left:  1.8rem;
}
.footer
{
    margin-top: 1.2rem;
    font-weight: bold;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}
.location
{
    margin-top: 1.2rem;
    color: white;
    text-align: center;
    font-size: 3rem;
}

@media(max-width:998px)
{
    html
    {
        font-size: 55%;
    }
}
@media(max-width:768px)
{
    html
    {
        font-size: 45%;
    }
}



